@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-pagination-bullet-active {
  width: 11px;
  height: 11px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: transparent;
}

.swiper-button-next.show::after,
.swiper-button-prev.show::after {
  color: #fff;
  box-shadow:
    inset 0px 0px 50px 10px rgba(0, 0, 0, 0.7),
    0px 0px 70px 60px rgba(0, 0, 0, 0.7);
}

.box-shadow-card {
  -webkit-box-shadow: 0px -82px 65px -15px rgba(6, 6, 6, 0.33) inset;
  -moz-box-shadow: 0px -82px 65px -15px rgba(6, 6, 6, 0.33) inset;
  box-shadow: 0px -82px 65px -15px rgba(6, 6, 6, 0.33) inset;
}

@layer utilities {
  .swiper-navigation-color {
    --swiper-navigation-color: #fff;
  }

  .swiper-pagination-color {
    --swiper-pagination-color: #fff;
  }
}
