@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-pagination-bullet-active {
  width: 11px;
  height: 11px;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  color: transparent;
}
#root > div > div.swiper:hover .swiper-button-next::after,
#root > div > div.swiper:hover .swiper-button-prev::after {
  color: #fff;
  box-shadow:
    inset 0px 0px 50px 10px rgba(0, 0, 0, 0.7),
    0px 0px 70px 60px rgba(0, 0, 0, 0.7);
}

@layer utilities {
  .swiper-navigation-color {
    --swiper-navigation-color: #fff;
  }

  .swiper-pagination-color {
    --swiper-pagination-color: #fff;
  }
}
